contourpy
cycler
diffusers
filelock
fonttools
fsspec
gradio
huggingface_hub
ImageIO
importlib_resources
Jinja2
kiwisolver
lazy-loader
MarkupSafe
matplotlib
mpmath
mrcfile
networkx
numpy
opencv-python-headless
packaging
pillow
pyparsing
python-dateutil
scikit-image
scipy
six
spaces
streamlit
sympy
tifffile
--extra-index-url https://download.pytorch.org/whl/cpu
--index-url https://download.pytorch.org/whl/cu126; platform_system == "Windows"
torch == 2.8.0; platform_system == "Darwin"
torch == 2.8.0+cpu; platform_system == "Linux"
torchvision
tqdm
typing_extensions
zipp
