--extra-index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://download.pytorch.org/whl/cu126

contourpy
cycler
diffusers
filelock
fonttools
fsspec
gradio
huggingface_hub
ImageIO
importlib_resources
Jinja2
kiwisolver
lazy-loader
MarkupSafe
matplotlib
mpmath
mrcfile
networkx
numpy
opencv-python-headless
packaging
pillow
pyparsing
python-dateutil
scikit-image
scipy
six
spaces
streamlit
sympy
tifffile
torchvision
tqdm
typing_extensions
zipp

torch == 2.8.0 ; platform_system == "Darwin"
torch == 2.8.0+cpu ; platform_system == "Linux"
torch == 2.8.0+cu126 ; platform_system == "Windows"